[submodule "external/oxiz"]
	path = external/oxiz
	url = https://github.com/Honey-Be/oxiz.git
	branch = 0.2.4-feat/cdqi
[submodule "contributions/oxiz/abduction"]
	path = contributions/oxiz/abduction
	url = https://github.com/newsniper-org/oxiz-contrib-abduction
[submodule "contributions/oxiz/bindings"]
	path = contributions/oxiz/bindings
	url = https://github.com/newsniper-org/oxiz-contrib-bindings
[submodule "docs/books"]
	path = docs/books
	url = https://github.com/newsniper-org/adsmt-books
	branch = main
[submodule "external/oxiz-sat-redesign-verification"]
	path = external/oxiz-sat-redesign-verification
	url = https://github.com/newsniper-org/oxiz-sat-redesign-verification
